* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f2f2;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

.add-task {
  display: flex;
  gap: 5px;
}

button {
  padding: 10px;
  cursor: pointer;
}

li {
  list-style: none;
  padding: 10px;
  margin: 10px 0;
  background: #eee;
  border-radius: 5px;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.task-time {
  font-size: 12px;
  color: #666;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .add-task {
    flex-direction: column;
  }
}
